body {
	font-family: 'Montserrat', sans-serif;
    	font-size:12px;
	background: rgb(72,61,139);
	background: linear-gradient(90deg, rgba(72,61,139,1) 0%, rgba(158,151,200,1) 51%, rgba(221,212,238,1) 100%);
}

h1 {
	font-size:12px;
}

p {
	font-size:12px;
}

.centerImage {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.center {
    text-align:center;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 95px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 0px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}
