body {
    font-family: 'Montserrat', sans-serif;
    font-size:36px;
    background: rgb(72,61,139);
    background: linear-gradient(90deg, rgba(72,61,139,1) 0%, rgba(158,151,200,1) 51%, rgba(221,212,238,1) 100%);
}
h1 {
    text-align:center;
}
p {
    text-align:center;
}

